body {
	background: linear-gradient(green, lightblue);
}
.jumbotron {
	background: linear-gradient(red, black);
	text-align: center;


}

.jumbotron img {
	max-width: 300px;
	max-height: 300px;
}
.darkside {
	position: relative;
	left: 3%;
	top: -10px;
}
.jedi {
	position: relative;
	left: 600px;
	top: -500px;
    max-width: 30px; 
    max-height: 30px;


}

.container {
	width: 50%;
	float: left;
	clear: both;
	text-align: center;

}
#click {
	position: absolute;
	bottom:-300px;
	left: 700px;
	
}